.graphContainer{
    display: flex;
    position: relative;
    align-items: center;
    width: 700px;
    justify-content: center;
}
.graph{
    align-self: center;
}


@media(max-width:560px){
    .graphContainer{
        flex-direction: column;
        max-height: 1000px;
    }
}